
<div id="page-content">
  <div class="container" id="home-container">
    <div class="jumbotron text-center text-black",style="background-image: url(http://www.californiafootgolfclub.com/static/img/footgolf-1.jpg); background-size: 100%;">
      <h1 class="display-4">E-KART</h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "btn btn-success" %>

    </div>


  </div>
</div>


