@import 'bootstrap/dist/css/bootstrap';
.jumbotron {
  background-image: asset-url('');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 455px;
}

#page-content {

background-color: #E6E6FA;
background-size: cover;


	
}
.navbar-brand {
  font-size :2rem;
}
