<div id="page-content">
<h1 class="text-center mt-4">Category: <%= @category.name %></h1>
<h3 class="text-center mt-4">Items</h3>
<%= render 'items/item' %>
</div>
<div class="mt-0 text-center">
    <%= link_to 'Back To categories', categories_path, class: "btn btn-outline-primary text-dark" %>
</div>
